@charset 'utf-8';
/*
　共通
*/
body {
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
    font-size: 120%;
    margin: 0;
    padding: 0;
}
input {
    font-family:'Lucida Grande', 'Hiragino Kaku Gothic ProN', 'ヒラギノ角ゴ ProN W3', 'Meiryo', 'メイリオ', sans-serif;
    font-size: 120%;
}
/*
　ヘッダー
*/
header {
    position: absolute;
    top: 0;
    left: 0;
    width:100%;
    height:calc(4em - 1px);
    border-bottom: 1px #808080 solid;
    background-color: #fcc;
}
/*
　中身の枠
*/
#container {
    position: absolute;
    top: 4em;
    left: 0;
    width:100%;
    height:calc(100% - 8em);
    /*
    display: -webkit-box;
    display: -moz-box;
    display: box;
    */
    background-color: #ccf;
}
/*
　メニュー
*/
#menu {
    position: relative;
    width:calc(20em - 1px);
    height:calc(100% - 4em);
    border-right: 1px #808080 solid;
    float:left;
    background-color: #ffc;
}

#menu h2 {
    border-bottom: 1px #808080 solid;
}
#menu h3 {
    border-bottom: 1px #808080 solid;
    margin-top: 0;
    margin-bottom: 0;
}
/*
　コンテンツ
*/
#contents {
    position: relative;
    width:calc(100% - 20em);
    height:calc(100% - 4em);
    float:left;
    background-color: #fcf;
}
/*
　フッター
*/
footer {
    position: absolute;
    left: 0;
    bottom: 0;
    width:100%;
    height:calc(8em - 1px);
    border-top: 1px #808080 solid;
    clear: both;
    background-color: #cfc;
}
